- content_for :main_content do
  - if page_title == 'Mami@Work'
    #main.content.span12
      .row-fluid
        .span4.home-intro= container :intro
        .span8= container :main
  - else
    #sidebar.span3
      != render_menu from_top: 1, depth: 2, class: 'submenu'
      .section_ad
        - if secc_ad.link
          != link_to secc_ad.link, :target => '_blank' do
            = image_tag secc_ad.img
        - else
          = image_tag secc_add.img
    .content.span9
      %h2= page_title
      != container :main

  - if content_for? :extended
    #extended.row-fluid
      != yield :extended

= render template: 'layouts/application'
