!= content_for :extended do
  .span4
    .sampler
      != container :carrera
    .more= link_to 'Leer más', '/personal/soy-mama-trabajo-y-tengo-culpa'
  .span4
    .sampler
      != container :familia
    .more= link_to 'Leer más', '/familia/salud-dental-y-una-linda-sonrisa'
  .span4
    .sampler
      != container :personal
    .more= link_to 'Leer más', '/personal/este-nio-lindo'


= render template: 'layouts/templates/default'
