!= content_for :extended do
  .span4
    .sampler
      != container :carrera
    .more= link_to 'Leer más', '/carrera/soy-mama-trabajo-y-tengo-culpa'
  .span4
    .sampler
      != container :familia
    .more= link_to 'Leer más', '/familia/6-maneras-de-fomentar-el-optimismo-en-los-nios'
  .span4
    .sampler
      != container :personal
    .more= link_to 'Leer más', '/solo_para_ti/no-es-suficiente-el-moo-rosa'


= render template: 'layouts/templates/default'
