!= content_for :extended do
  .span4
    .sampler
      != container :carrera
    .more= link_to 'Leer más', '/carrera/retos-de-la-maw'
  .span4
    .sampler
      != container :familia
    .more= link_to 'Leer más', '/familia/la-noche-familiar'
  .span4
    .sampler
      != container :personal
    .more= link_to 'Leer más', '/solo_para_ti/el-tringulo-de-las-mams-que-trabajan-estrs-enojo-y-presin'


= render template: 'layouts/templates/home_no_banner'
