!!!
%html
  %head
    %title= page_title
    != stylesheet_link_tag    "application", :media => "all"
    != javascript_include_tag "application"
    != analytics_init if Rails.env.production?
    != yield :html_head

  %body
    != cms_toolbar
    != render_breadcrumbs
    .container
      .main_ad
        = link_to 'http://www.metamorfo.com', :target => '_blank' do
          = image_tag('metamorfo.jpg')

      #header.row-fluid.clearfix
        .span3
          #logo= image_tag 'mami_at_work_logo.jpg'
        .span9
          = render_menu from_top: 0, depth: 1
      .row-fluid
        = yield :main_content

    #footer.narvbar.navbar-fixed-bottom
      Copyright
      = Date.today.year
      Mami@Work. Todos los Deerechos Reservados.
